body {
	background:black;
    font:12px arial;
    color: teal;
    text-align:center;
    padding:35px; } 
input { font:20px arial; } 
a:hover { text-decoration:underline; } 
.abhi {
    margin: 0 auto;
    padding-bottom: 30px;
    background: teal;
    width: 1200px;
    border: 2px solid #ACD8F0;	}